*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/ba
wp-content/backups/ba
wp-content/blogs.dir/ba
wp-content/cache/ba
wp-content/upgrade/ba
wp-content/uploads/ba
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/readme.html
/license.txt

